.wrapper {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.container {
    width     : var(--default-layout-width);
    min-height: 1000px;
    display   : flex;
    padding   : 0 var(--default-layout-horizontal-spacer);


}

.contain {
    flex: 1;
}